* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.divisor {
    border-bottom: 1px solid #2d2b29;
}

.nav {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    font-weight: 500;
    color: #2d2b29;
    font-size: 0.9rem;
    align-items: flex-end;
}

.nav a {
    margin-top: 100px;
    text-decoration: none;
    font-weight: 600;
    margin: 0 12px;
}

.nav a:hover {
    color: #2d2b29;
}

.imgnav {
    height: 100px;
    margin: 0;
    padding: 0;
}

.navitems {
    padding-bottom: 8px;
}

.login {
    display: flex;
    align-items: center;
}

.login a {
    color: #2d2b29;
    font-weight: 500;
}